*{
    padding:0.5rem;
    margin:1px;
    box-sizing: border-box;
}
.p{
    background-color: burlywood;
   border:1px solid black;
   

}
.q{
    background-color: burlywood;
    width:200px;
}





body{
    background-color: rgb(238, 230, 230);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}